@font-face {
    font-family: 'thin';
    src: url(../../public/font/ITC/ITCAvantGardeStd-Thin.otf);
};


@font-face {
    font-family: 'regular';
    src: url(../../public/font/ITC/ITCAvantGardeStd-Md.otf);
};

@font-face {
    font-family: 'bold';
    src: url(../../public/font/ITC/ITCAvantGardeStd-Bold.otf);
};

@font-face {
    font-family: 'demi_bold';
    src: url(../../public/font/ITC/ITCAvantGardeStd-DemiBold.otf);
}

@font-face {
    font-family: 'italic';
    src: url(../../public/font/ITC/ITCAvantGardeStd-MdItalic.otf);
}

h1, h2, h3, h4, h5{
    font-family: 'demi_bold';
    text-transform: uppercase;
}

p{
    font-family: 'regular';
}

.container{
    padding: 0px 40px;
}