@font-face {
    font-family: 'thin';
    src: url(../../public/font/ITC/ITCAvantGardeStd-Thin.otf);
};


@font-face {
    font-family: 'regular';
    src: url(../../public/font/ITC/ITCAvantGardeStd-Md.otf);
};

@font-face {
    font-family: 'bold';
    src: url(../../public/font/ITC/ITCAvantGardeStd-Bold.otf);
};

@font-face {
    font-family: 'demi_bold';
    src: url(../../public/font/ITC/ITCAvantGardeStd-DemiBold.otf);
}
