.login_page{
    width: 50%;
    input{
        width: 100%;
    }

    p{
        font-size: 22px;
    }

    .register_link{
        font-weight: bold;
        &:hover{
            cursor: pointer;
        }
    }

}

.login_error{
    color: #e63f3f;
    font-size: 18px !important;
    margin: 0;
}