.cart{
    &_page{
        padding: 20px 100px;
    }
    &_title{
        font-style: uppercase;
    }

    &_content{
        display: flex;
        gap: 40px;
    }

    &_left{
        width: 70%;
    }

    &_right{
        width: 30%;
    }

    &_card{
        display: flex;
        gap: 20px;
        &_img{
            width: 30%;
            img{
                width: 100%;
            }
        }

        &_content{

            &_description{
                display: flex;
                justify-content: space-between ;
            }
        }
    }

}