.cart{

    &_title{
        font-style: uppercase;
    }

    &_content{
        display: flex;
        gap: 40px;
    }

    &_left{
        width: 70%;
    }

    &_right{
        width: 30%;
    }

    &_card{
        display: flex;
        &_img img{
            width: 30%;
        }
    }

}