.cart{
    &_page{
        padding: 20px 100px;
    }
    &_title{
        font-style: uppercase;
    }

    &_content{
        display: flex;
        gap: 40px;
    }

    &_left{
        width: 65%;
    }

    &_right{
        width: 35%;
    }

    &_card{
        display: flex;
        gap: 20px;
        &_img{
            width: 40%;
            img{
                width: 100%;
            }
        }

        &_content{
            width: 100%;
            &_description{
                display: flex;
                justify-content: space-between;
            }
        }
    }

}